li{
    display: inline-block; /*manter todos os elementos na mesma linha (transforma em line-lvl)*/
    color: white;
    font-size: 12px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase; /*alterar todo texto para maisculo*/
    font-weight: bold;
}

header a{
    color: white;
}

nav{
    background-color: #474747;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contato{
    text-align: left;
    font-size: 20px;
    padding-left: 25px;
    margin-top: 60px;
}

.contato h1{
    color: #b8783f;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}

footer{
    background-color: #ebebeb;
    height: 250px;
}

footer h1{
    font-family: "Gantari", Sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #B67841;
    text-align: center;
}
footer .img1{
    width: 11%;
    margin-right: 15px;
}

footer .img2{
    width: 7%;
    margin-top: 10px;
}

footer .div1{
    margin-top: 60px;
}   

footer span{
    font-family: "Gantari", Sans-serif;
    color: #585A5D;
    font-size: 16px;
    font-weight: 600;
}

.titulo{
    color: #AF976D;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 500;
}

.mainservicos div{
    background-color: white;
    border: 10px solid rgb(238, 238, 238);
    border-radius: 20px;
    line-height: 22px;
    padding-bottom: 35px;
    padding-top: 15px;
}

.nada{
    background-color: rgb(224, 224, 224);
}

main h1{
    font-family: "Gantari", Sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #AF976D;
}

.mainservicos h3{
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #7A7A7A;
    padding-left: 150px;
    padding-right: 150px;
}

.titulo1{
    font-size: 22px;
    font-weight: 600;
    color: #2E2E2E;
    padding-bottom: 15px;
    padding-top: 45px;
}

main img{
    margin-top: 30px;
    margin-bottom: 15px;
}


header .botao{
    background-color: #ECE2D0;
    font-family: "Gantari", Sans-serif;
    font-size: 19px;
    font-weight: 600;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: #ECE2D0;
    margin-top: 15px;
}

header h1{
    font-family: "Gantari", Sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
}

header p{
    color: #7F7F7F;
    font-family: "Gantari", Sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
}

header .logo{
    margin-top: 28px;
}

header .icon{
    width: 14%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .icon2{
    margin-top: 8px;
}

header .icons{
    margin-top: 15px;
}

.line{
    background-color: black;
    height: 6px;
}

.tituloindex{
    color: #AF976D;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 500;
}

.s1index h1{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #AF976D;
    padding-top: 65px;
    padding-bottom: 20px;
}

main p{
    font-family: "Gantari", Sans-serif;
    color: #7A7A7A;
    font-size: 16px;
    line-height: 1.5;
    margin-block-end: .9rem;
    margin-block-start: 0;
}

.s1index img{
    border-radius: 110px 40px 110px 20px;
}

.lineindex{
    height: 3px;
    width: 8%;
    background-color: #b8783f;
    border: none;
}

.s2index h1{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #AF976D;
    padding-top: 65px;
    padding-bottom: 10px;
}

main h2{
    font-family: "Gantari", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #464646;
    padding-top: 25px;
    padding-bottom: 25px;
}

.s2index div{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 22px;
}

.s2index img{
    padding-top: 10px;
    width: 24%;
}

.s2index h3{
    font-family: "Gantari", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #191919;
    padding-top: 15px;
}

.lineindex2{
    height: 3px;
    width: 20%;
    background-color: #b8783f;
    margin-top: 22px;
    margin-bottom: 22px;
    border: none;
}

.nossahistoria{
    font-size: 16px;
    color: #464646;
    padding-bottom: 13px;
}

.lineindex3{
    height: 3px;
    width: 8%;
    background-color: #b8783f;
    margin-left: 0px;
    border: none;
}

.historia h1{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #AF976D;
    padding-top: 20px;
    padding-bottom: 15px;
}

.lineindex4{
    height: 3px;
    width: 15%;
    background-color: #b8783f;
    margin-left: 0px;
    border: none;
}

.s4index h2{
    font-family: "Gantari", Sans-serif;
    color: #464646;
}

.s4index{
    padding-top: 50px;
}

.s4index div{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.s5index{
    padding-top: 25px;
}

.maincorpoclinico a{
    color: #9b8357;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.s1corpoclinico div{
    background-color: white;
    border: 20px solid rgb(238, 238, 238);
    border-radius: 40px;
}

.s1corpoclinico h3{
    font-size: 18px;
    font-weight: 700;
    color: #AF976D;
    margin-bottom: 10px;
    padding-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

.s1corpoclinico h4{
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.s1corpoclinico p{
    color: #6b7280;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-top: 15px;
}

.s1corpoclinico button{
    background-color: #9b8357;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 15px;
}

.s1convenios div{
    background-color: white;
    border: 25px solid rgb(238, 238, 238);
    border-radius: 40px;
}

.s1faleconosco h1{
    color: #B8783F;
    font-size: 28px;
    font-family: "Gantari", Sans-serif;
    font-weight: bold;
    padding-top: 15px;
}

.s1faleconosco .icons2{
    width: 12.5%;
}

.s1faleconosco p{
    font-size: 18px;
    font-weight: bold;
    font-family: "Gantari", Sans-serif;
    color: #161616;
    line-height: 1;
    padding-top: 10px;
}

.s1faleconosco div{
    margin-bottom: 75px;
    padding-left: 35px;
    padding-right: 35px;
}

.s1corpoclinico img{
    border-radius: 10px;
}

.s1 .background{
    background-image: url(../imagens/IMG/canal12.jpg);
    background-size: cover;
    height: 60%;
    width: 100%;
}

.s2index2{
    background: #D9C5A3 ;
    background: linear-gradient(270deg, rgba(217, 197, 163, 1) 1%, rgba(184, 120, 63, 1) 52%);
    padding-top: 45px;
    padding-bottom: 45px;
}

.s2index2 h2{
    font-size: 32px;
    font-family: "Gantari", Sans-serif;
    color: white;
}

.s2index2 p{
    font-size: 16px;
    font-family: "Gantari", Sans-serif;
    color: white;
}

.s2index2 img{
    border-radius: 110px 30px 110px 20px;
}

.s2indexdiv1{
    padding-right: 65px;
}

.s2index2 button{
    background-color: #61CE7000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 5px 5px 5px 5px;
    border: solid 2px white;
    font-size: 15px;
    font-family: "Gantari", Sans-serif;
    color: white;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.s3index2 div{
    border: 25px solid rgb(238, 238, 238); 
    border-radius: 40px;
    padding-top: 130px;
    height: 450px;
    margin-bottom: 25px;
    background-size: cover;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.s3index2 h3{
    font-family: "Gantari", Sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 35px;
}

.s3index2 p{
    font-size: 16px;
    font-family: "Gantari", Sans-serif;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.301);
}

.s3index2 button{
    background-color: #AF976D;
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
}

.s3index2 a{
    color: white;
}

.s3index2 .div1{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time1.jpg);}
.s3index2 .div2{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time2.jpg);}
.s3index2 .div3{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time3.jpg);}
.s3index2 .div4{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time4.jpg);}
.s3index2 .div5{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time5.jpg);}
.s3index2 .div6{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time6.jpg);}
.s3index2 .div7{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time7.jpg);}
.s3index2 .div8{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time8.jpg);}
.s3index2 .div9{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time9.jpg);}
.s3index2 .div10{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time10.jpg);}
.s3index2 .div11{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time11.jpg);}
.s3index2 .div12{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time14.jpg);}
.s3index2 .div13{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/IMG/time15.jpg);}


.mainindex2 h1{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #AF976D;
    padding-top: 35px;
    padding-bottom: 15px;
}

.s4index2 p{
    font-family: "Gantari", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D8D8D;
    line-height: 1;
    margin-right: 35px;
}
.s4index2 h3{
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    padding-bottom: 25px;
}

.s4index2 h2{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #AF976D;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.s4index2 .h2expertise{
    font-family: "Gantari", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D8D8D;
    padding-bottom: 10px;
    margin-top: 35px;
}

.s4index2{
    padding-bottom: 65px;
}
.s4index2 .principal{
    border-radius: 25px;
}

.lineindex5{
    height: 3px;
    width: 14%;
    background-color: black;
    border: none;
    margin-left: 0;
    padding-left: 0;
}

.s5index2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..//imagens/index/consultas.png);
    background-size: 100%;
    height: 350px;
}


.s5index2 h2{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 65px;
}

.s4index2 .principal{
    border-radius: 20px;
    margin-left: 50px;
}

.s6index2 h2{
    font-family: "Gantari", Sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #AF976D;
    margin-top: 35px;
    padding-top: 0;
    padding-bottom: 0;
}

.s6index2 h3{
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #CACACA;
    padding-left: 12px;
}

.s6index2 .div1{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(..//imagens/CAMPEAO/MIENIRO.jpg);background-size: cover;border-radius: 20px;}
.s6index2 .div2{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(..//imagens/CAMPEAO/COPA\ DO\ BRASIL.jpg);background-size: cover;border-radius: 20px;}
.s6index2 .div3{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(..//imagens/CAMPEAO/BRASILEIRAO.jpg);background-size: cover;border-radius: 20px;}

.s6index2 div{
    border: 10px solid rgb(238, 238, 238);
    height: 280px;
    padding-top: 15px;
}

.s6index2 p{
    font-family: "Gantari", Sans-serif;
    color: white;
    font-size: 22px;
    padding-left: 12px;
    padding-top: 150px;
    line-height: 1;
}

.s6index2 .acima{
    padding-top: 127px;
}

.lineindex6{
    height: 3px;
    width: 14%;
    background-color: white;
    border: none;
    margin-left: 12px;
    padding-left: 0;
}

.s6index2 button{
    background-color: #AF976D;
    font-family: "Gantari", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    padding-left: 24px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 35px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.zap{
    position: fixed;
    z-index: 1;
    top: 92%;
    left: 92%;

}
.zap img{
    width: 98px;
    height: 98px;

}
.zap img:hover{
    transform: scale(1.5);
    transition: 0.50s ease-in-out;
}
.foco{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #161616be;
    display: none;
}
.foco img{
    margin-top: 250;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    z-index: 3;
    
}
#foco1:target{display: block;}
#foco2:target{display: block;}
#foco3:target{display: block;}
#foco4:target{display: block;}
#foco5:target{display: block;}
#foco6:target{display: block;}
#foco7:target{display: block;}
#foco8:target{display: block;}
#foco9:target{display: block;}
#foco10:target{display: block;}
#foco11:target{display: block;}
#foco12:target{display: block;}
#foco13:target{display: block;}
#foco14:target{display: block;}
#foco15:target{display: block;}
#foco16:target{display: block;}
#foco17:target{display: block;}
#foco18:target{display: block;}
#foco19:target{display: block;}
#foco20:target{display: block;}
#foco21:target{display: block;}

.medico{
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #161616be;
    display: none;
    
    
}
.medico img{
    
    margin-right: 190px;
    width: 250px;
    height: 220px;
    margin-top: 30PX;
    margin-left: 30PX;
    border-radius: 15px;
    
    
}
.medico .md1{
    margin-top: 15%;
    margin-left: 35%;
    width:33%;
    height: 33%;
}
.md1 button{
    background-color: #000000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 7%;
    width: 100px;
    float: left;
    margin-left: 8%;
    height: 15%;
}
.md1 h3{
    color: #c5a874;
    font-size: 25px;
    margin-top: 15%;
    text-align: left;
    font-weight: bold;
    

}
.md1 h4{
    margin-top: 10px;
    font-weight: bold;
    margin-right: 109px;

}
span{
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    
    
}
.md1 h1{
    margin-top: 5%;
    font-size: 20px;
    margin-right: 65PX;
    line-height: 1.3;
    
}
.md1 P{
    margin-top: 5%;
    font-size: 20px;
    margin-right: 200PX;
}
#medico1:target{display: block;}
#medico2:target{display: block;}
#medico3:target{display: block;}
#medico4:target{display: block;}
#medico5:target{display: block;}
#medico6:target{display: block;}
#medico7:target{display: block;}
#medico8:target{display: block;}
#medico9:target{display: block;}
#medico10:target{display: block;}
#medico11:target{display: block;}
#medico12:target{display: block;}
#medico13:target{display: block;}
#medico14:target{display: block;}
#medico15:target{display: block;}
#medico16:target{display: block;}
#medico17:target{display: block;}
#medico18:target{display: block;}
#medico19:target{display: block;}
#medico20:target{display: block;}
#medico21:target{display: block;}
#medico22:target{display: block;}
#medico23:target{display: block;}

.foto{
    height: 250px;
    width: 250px;
}


